# Локальні файли стану Terraform
*.tfstate
*.tfstate.*

# Папка з кешем модулів та провайдерів
.terraform/

# Файл, що "замикає" версії провайдерів
.terraform.lock.hcl

# Файли конфігурації для деяких IDE
.idea/
*.vscode/